<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="image/favicon.ico">
    <title>{{ SITE_NAME }}</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'FlexSlider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'prettyphoto/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">
    <!-- start header -->
    <header class="navbar top-menu navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#mainArea"><i class="fa fa-fire"></i> Valler</a>
            </div>
            <nav class="navbar-collapse collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#aboutArea">About</a></li>
                    <li><a href="#serviceArea">Service</a></li>
                    <li><a href="#workArea">Portfolio</a></li>
                    <li><a href="#teamArea">Team</a></li>
                    <li><a href="#pricingArea">Pricing</a></li>
                    <li><a href="#testimonialsArea">Testimonials</a></li>
                    <li><a href="#contactArea">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end header -->

    <!-- start about area -->
    <section id="aboutArea">
        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center">

                    <h1>About Us</h1>

                    <div class="hline"></div>
                    <div class="clearfix"></div>
                    <h4><span class="bg-primary">Lorem Ipsum is simply dummy text.</span></h4>
                    <div class="clearfix"></div>
                    <div class="row">

                        <div class="col-md-8 col-md-offset-2 text-center">

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <i class="fa fa-truck"></i>

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <i class="fa fa-flask"></i>

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <i class="fa fa-trophy"></i>

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <i class="fa fa-dashboard"></i>

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- end about area -->

    <!-- start quote area -->
    <section id="quoteArea" class="text-center">
        <div class="container">
            <blockquote>

                <h3>Lorem Ipsum is simply dummy text. <br>Lorem Ipsum has been the industry's</h3>

                <a href="#" class="btn btn-primary">Read More</a>
            </blockquote>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- end quote area -->

    <!-- start service area -->
    <section id="serviceArea">
        <div class="container">

            <div class="row text-center">

                <div class="col-md-12">

                    <h1>Good Services</h1>

                    <div class="hline"></div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <img src="{% static 'images/image_210x210.jpg' %}" alt="">

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <img src="{% static 'images/image_210x210.jpg' %}" alt="">

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <img src="{% static 'images/image_210x210.jpg' %}" alt="">

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="shape diamond">

                                <img src="{% static 'images/image_210x210.jpg' %}" alt="">

                            </div>

                            <h3>Lorem Ipsum simply</h3>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- end service area -->

    <!-- start video area -->
    <section id="videoArea" class="text-center">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-12">

                    <h2>Lorem Ipsum</h2>

                    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>

                    <a href="#" class="btn">Button</a>

                </div>
            </div>

        </div>
        <div class="overlay"></div>
    </section>
    <!-- end video area -->

    <!-- start work area -->
    <section id="workArea" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <h1>Portfolio</h1>

                    <ul class="controls">
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter="webdesign">We Design</li>
                        <li class="filter" data-filter="printing">Printing</li>
                        <li class="filter" data-filter="development">We Development</li>
                        <li class="filter" data-filter="seo">SEO Optimization</li>
                    </ul>

                </div>
            </div>

            <ul id="Grid" class="row">
                <li class="mix webdesign col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix printing col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix development col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix webdesign col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix development col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix printing col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix seo col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix printing col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix webdesign col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix printing col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix webdesign col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix development col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix printing col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix webdesign col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix seo col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
                <li class="mix seo col-sm-3">
                    <a href="{% static 'images/image_820x620.jpg' %}" data-rel="prettyPhoto"><img alt="" src="{% static 'images/image_550x480.jpg' %}" class="img-responsive"><span>Eligendi optio cumque</span></a>
                </li>
            </ul>

        </div>
    </section>
    <!-- end work area -->

    <!-- start clients area -->
    <section id="clientsArea">
        <div class="bg"></div>
        <div class="container">

            <div class="row text-center">

                <div class="col-md-12">
                    <h2>We Are Coming Soon!</h2>
                    <p class="lead">It won't be long. We will be here in...</p>
                </div>

            </div>

            <div class="flexslider carousel" id="clients-slider">
                <ul class="slides">
                    <li><a href="#"><i class="fa fa-glass"></i></a></li>
                    <li><a href="#"><i class="fa fa-sitemap"></i></a></li>
                    <li><a href="#"><i class="fa fa-wheelchair"></i></a></li>
                    <li><a href="#"><i class="fa fa-fighter-jet"></i></a></li>
                    <li><a href="#"><i class="fa fa-glass"></i></a></li>
                    <li><a href="#"><i class="fa fa-sitemap"></i></a></li>
                    <li><a href="#"><i class="fa fa-wheelchair"></i></a></li>
                    <li><a href="#"><i class="fa fa-fighter-jet"></i></a></li>
                </ul>
            </div>

        </div>
    </section>
    <!-- end clients area -->

    <!-- start team area -->
    <section id="teamArea" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <h1>Our Team</h1>

                </div>

                <div class="col-md-8 col-md-offset-2">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <img alt="" src="{% static 'images/image_600x500.jpg' %}" class="img-responsive img-rounded">
                    <h3>Mauris vitae iaculis.</h3>
                    <p class="small">Aenean sit amet arcu vitae</p>
                    <p>Sed accumsan magna at nulla bibendum, vitae gravida metus faucibus. Praesent quis egestas justo, eget vehicula tellus. Aenean sit amet arcu vitae velit mattis imperdiet ut sed enim. Etiam eget tellus convallis vitae adipiscing vitae et orci.</p>
                    <p class="lead social">
                        <a href="#" class="shape diamond"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-github"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-linkedin"></i></a>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <img alt="" src="{% static 'images/image_600x500.jpg' %}" class="img-responsive img-rounded">
                    <h3>Lorem ipsum dolor</h3>
                    <p class="small">Maecenas quis quam</p>
                    <p>Proin suscipit justo quam. Etiam sit amet gravida tortor, eget scelerisque quam. Maecenas quis tempus quam, eget bibendum sapien. Aenean facilisis, turpis vitae ornare vulputate, turpis metus tempus rhoncus faucibus nisi metus sed tortor.</p>
                    <p class="lead social">
                        <a href="#" class="shape diamond"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-github"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-linkedin"></i></a>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <img alt="" src="{% static 'images/image_600x500.jpg' %}" class="img-responsive img-rounded">
                    <h3>Sed aliquam risus</h3>
                    <p class="small">Nunc rhoncus metus ege</p>
                    <p>In ullamcorper eros in nisi suscipit molestie. Nunc sit amet purus euismod, commodo turpis quis, venenatis odio. Nunc rhoncus metus eget rutrum consequat. Donec quis augue in augue venenatis sollicitudin. Aliquam fringilla hendrerit turpis.</p>
                    <p class="lead social">
                        <a href="#" class="shape diamond"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-github"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-linkedin"></i></a>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <img alt="" src="{% static 'images/image_600x500.jpg' %}" class="img-responsive img-rounded">
                    <h3>Sed aliquam risus</h3>
                    <p class="small">Nunc rhoncus metus ege</p>
                    <p>In ullamcorper eros in nisi suscipit molestie. Nunc sit amet purus euismod, commodo turpis quis, venenatis odio. Nunc rhoncus metus eget rutrum consequat. Donec quis augue in augue venenatis sollicitudin. Aliquam fringilla hendrerit turpis.</p>
                    <p class="lead social">
                        <a href="#" class="shape diamond"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-github"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-linkedin"></i></a>
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>

            </div>

        </div>
    </section>
    <!-- end team area -->

    <!-- start pricing area -->
    <section id="pricingArea" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <h1>Pricing</h1>

                </div>

                <div class="col-md-8 col-md-offset-2">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="price text-center">

                        <strong>Personal</strong>

                        <span>17<cite>/mo</cite></span>

                        <p>Lorem Ipsum is simply dummy text of the</p>

                    </div>
                    <ul class="list-unstyled">
                        <li>Lorem Ipsum is simply</li>
                        <li>Dummy text printing</li>
                        <li>Been the industry's</li>
                        <li>Electronic typesetting</li>
                    </ul>
                    <a href="#" class="btn btn-default">Sign Up</a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="price text-center">

                        <strong>Personal</strong>

                        <span>245<cite>/mo</cite></span>

                        <p>Lorem Ipsum is simply dummy text of the</p>

                    </div>
                    <ul class="list-unstyled">
                        <li>Lorem Ipsum is simply</li>
                        <li>Dummy text printing</li>
                        <li>Been the industry's</li>
                        <li>Electronic typesetting</li>
                    </ul>
                    <a href="#" class="btn btn-default">Sign Up</a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="price text-center">

                        <strong>Personal</strong>

                        <span>145<cite>/mo</cite></span>

                        <p>Lorem Ipsum is simply dummy text of the</p>

                    </div>
                    <ul class="list-unstyled">
                        <li>Lorem Ipsum is simply</li>
                        <li>Dummy text printing</li>
                        <li>Been the industry's</li>
                        <li>Electronic typesetting</li>
                    </ul>
                    <a href="#" class="btn btn-default">Sign Up</a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="price text-center">

                        <strong>Personal</strong>

                        <span>20<cite>/mo</cite></span>

                        <p>Lorem Ipsum is simply dummy text of the</p>

                    </div>
                    <ul class="list-unstyled">
                        <li>Lorem Ipsum is simply</li>
                        <li>Dummy text printing</li>
                        <li>Been the industry's</li>
                        <li>Electronic typesetting</li>
                    </ul>
                    <a href="#" class="btn btn-default">Sign Up</a>
                </div>

            </div>

        </div>
    </section>
    <!-- end pricing area -->

    <!-- start testimonials area -->
    <section id="testimonialsArea" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <h1>Testimonials</h1>

                </div>
            </div>

            <br>

            <div class="row">

                <div class="col-md-9 col-md-offset-2">

                    <div class="flexslider" id="testimonials-slider">

                        <ul class="slides">
                            <li>
                                <div class="row">

                                    <div class="col-sm-8">

                                        <div class="jumbotron">

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                                            <p class="testimonial-author">Steve van Dijk, designer at <a href="#">ThemeShifters</a></p>

                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="shape diamond">

                                            <img alt="" src="{% static 'images/image_210x210.jpg' %}">

                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="row">

                                    <div class="col-sm-8">

                                        <div class="jumbotron">

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                                            <p class="testimonial-author">Steve van Dijk, designer at <a href="#">ThemeShifters</a></p>

                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="shape diamond">

                                            <img alt="" src="{% static 'images/image_210x210.jpg' %}">

                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="row">

                                    <div class="col-sm-8">

                                        <div class="jumbotron">

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                                            <p class="testimonial-author">Steve van Dijk, designer at <a href="#">ThemeShifters</a></p>

                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="shape diamond">

                                            <img alt="" src="{% static 'images/image_210x210.jpg' %}">

                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="row">

                                    <div class="col-sm-8">

                                        <div class="jumbotron">

                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                                            <p class="testimonial-author">Steve van Dijk, designer at <a href="#">ThemeShifters</a></p>

                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="shape diamond">

                                            <img alt="" src="{% static 'images/image_210x210.jpg' %}">

                                        </div>

                                    </div>

                                </div>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- end testimonials area -->

    <!-- start contact area -->
    <section id="contactArea">

        <div class="container">

            <div class="row text-center">
                <div class="col-md-12">

                    <h1>Contact</h1>

                </div>
            </div>

            <br>

            <div class="row">

                <div class="col-sm-6">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                    <h4>Drop in for a second</h4>

                    <p class="lead social">
                        <a href="#" class="shape diamond"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-github"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="shape diamond"><i class="fa fa-linkedin"></i></a>
                    </p>

                    <p>5465 Silent Campus<br>Pillsbury, Vermont <br>05860-1751, US</p>

                    <p>(802) 919-5740<br><a href="#">info@yourdomain.com</a></p>

                </div>

                <div class="col-sm-6">
                    <form action="#">
                        <input type="text" placeholder="Full Name" class="form-control">
                        <input type="email" placeholder="Email Address" class="form-control">
                        <textarea cols="10" rows="5" placeholder="Type your message here..." class="form-control"></textarea>
                        <input type="submit" class="btn btn-link" value="submit">
                    </form>
                </div>

            </div>

        </div>

    </section>
    <!-- end contact area -->

    <!-- start footer area -->
    <footer id="footerArea">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">

                    <p>&copy; <a href="#"> Valler</a>, All rights reserved.</p>

                </div>
            </div>
        </div>
    </footer>
    <!-- end footer area -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mixitup/build/jquery.mixitup.min.jsjs' %}"></script>
    <script src="{% static 'prettyphoto/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'FlexSlider/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'parallax/deploy/jquery.parallax.min.js' %}"></script>
    <script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
    <script src="{% static 'js/scrolld.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
